@page "/info/{author}/"
@model Chirp.Web.Pages.Infopage
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    var email = HttpContext.GetRouteValue("email");
}

<div>
    <h2> @routeName's info </h2>

    @if (User.Identity.IsAuthenticated)
    {
        <style>
            .user-info-box {
                border: 1px solid #ccc;
                padding: 10px;
                width: 200px;
                margin: 20px auto;
                text-align: center;
            }
        </style>

        <div class="user-info-box">
            <h3>Hello, @(User.Identity!.Name) here is your info</h3>
            <p>Email: @((await Model.Author)?.Email ??  "unknown") </p>
            <form asp-page-handler="MyMethod">
                <button type="submit">Delete your account</button>
            </form>
        </div>
        <h3>People you follow </h3>
        
        <h3>Here you can see all your cheeps</h3>
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        
        }
    }
</div>