@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="CheepMessageField">
            <h3>Hello, @(User.Identity!.Name)! What do you want to share today?</h3>
            <form method="post">
                <input type="text" asp-for="Message" placeholder="Write your cheep..." />
                <button type="submit">Post</button>
            </form>
        </div>
    }
    else
    {
    <p>Please <a href="/Identity/Account/Login">log in</a> to post a cheep.</p>
    }
    <h3>Users You Follow</h3>
    @if (Model.Following.Any())
    {
    <ul>
        @foreach (var following in Model.Following)
        {
        <li>
            @following.Followers
            <form method="post" asp-page-handler="Unfollow">
                <input type="hidden" name="FollowedUser" value="@following.Followers" />
                <button type="submit">Unfollow</button>
            </form>
        </li>
        }
    </ul>
    }
    else
    {
    <p>You are not following anyone yet.</p>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
            
        </ul>
        
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    <hr />

    <h3>Your Followers</h3>
    @if (Model.Followers.Any())
    {
    <ul>
        @foreach (var follower in Model.Followers)
        {
        <li>@follower.Followers</li>
        }
    </ul>
    }
    else
    {
    <p>You have no followers yet.</p>
    }
   
</div>
